stages:
  - build
  - test

# Archlinux
build:archlinux:
  tags:
    - pwmt
  stage: build
  image: registry.pwmt.org/pwmt/gitlab-runner-images/archlinux:latest
  script:
    - mkdir -p build && cd build
    - meson ..
    - ninja
  artifacts:
    expire_in: 6 hours
    paths:
      - build
  except:
    - tags

test:archlinux:
  tags:
    - pwmt
  stage: test
  image: registry.pwmt.org/pwmt/gitlab-runner-images/archlinux:latest
  script:
    - cd build
    - ninja test
  dependencies:
    - build:archlinux
  except:
    - tags

# Debian 12 (bookworm)
build:debian-bookworm:
  tags:
    - pwmt
  stage: build
  image: registry.pwmt.org/pwmt/gitlab-runner-images/debian:bookworm
  script:
    - mkdir -p build && cd build
    - meson ..
    - ninja
  artifacts:
    expire_in: 6 hours
    paths:
      - build
  except:
    - tags

test:debian-bookworm:
  tags:
    - pwmt
  stage: test
  image: registry.pwmt.org/pwmt/gitlab-runner-images/debian:bookworm
  script:
    - cd build
    - ninja test
  dependencies:
    - build:debian-bookworm
  except:
    - tags

# Debian 13 (trixie)
build:debian-trixie:
  tags:
    - pwmt
  stage: build
  image: registry.pwmt.org/pwmt/gitlab-runner-images/debian:trixie
  script:
    - mkdir -p build && cd build
    - meson ..
    - ninja
  artifacts:
    expire_in: 6 hours
    paths:
      - build
  except:
    - tags

test:debian-trixie:
  tags:
    - pwmt
  stage: test
  image: registry.pwmt.org/pwmt/gitlab-runner-images/debian:trixie
  script:
    - cd build
    - ninja test
  dependencies:
    - build:debian-trixie
  except:
    - tags

# Ubuntu 22.04 LTS (jammy)
build:ubuntu-jammy:
  tags:
    - pwmt
  stage: build
  image: registry.pwmt.org/pwmt/gitlab-runner-images/ubuntu:jammy
  script:
    - mkdir -p build && cd build
    - meson ..
    - ninja
  artifacts:
    expire_in: 6 hours
    paths:
      - build
  except:
    - tags

test:ubuntu-jammy:
  tags:
    - pwmt
  stage: test
  image: registry.pwmt.org/pwmt/gitlab-runner-images/ubuntu:jammy
  script:
    - cd build
    - ninja test
  dependencies:
    - build:ubuntu-jammy
  except:
    - tags

